.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.form-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.form-input {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-input-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-button {
    background-color: #89b789;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.form-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 40px;
    gap: 10px;
}

.cancel-button,
.save-button {
    background-color: transparent;
    margin-left: 4px;
}

.edit-button,
.delete-button {
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
}

.edit-button:hover,
.save-button:hover,
.delete-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.form-button:hover {
    background-color: #b3d0b3;
}

.table-container {
    margin-top: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.form {
    display: flex;
    width: 50vw;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.table th,
.table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
    height: 100%;
    vertical-align: middle;
}

.table th {
    background-color: #444;
}

.table td {
    min-height: 40px;
    max-height: 50px;
}

.table tr {
    height: auto;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.form-city-state {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .city {
        width: 58%;
    }
    .state {
        width: 38%;
    }
}

.form-storeName-number {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .storeName {
        width: 68%;
    }
    .number {
        width: 28%;
    }
}
