:root {
    --background-light: #d4e9d4;
    --background-dark: #141414;
    --text-light: #000;
    --text-dark: #fff;
    --title-light: #213547;
    --input-border-light: #ccc;
    --input-border-dark: #444;
    --button-bg-light: #89b789;
    --button-bg-dark: #89b789;
    --button-hover-light: #b3d0b3;
    --button-hover-dark: #b3d0b3;
}

body {
    background-color: var(--background-light);
    color: var(--text-light);
    transition: background 0.3s, color 0.3s;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--background-dark);
        color: var(--text-dark);
    }
}

.welcome {
    font-weight: 500;
    text-align: center;
    font-size: 6cqb;
    padding-bottom: 32px;
    color: var(--title-light);
    transition: color 0.3s;
}

@media (prefers-color-scheme: dark) {
    .welcome {
        color: var(--text-dark);
    }
}

.login-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 700px;

    svg {
        min-width: fit-content;
    }
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
}

.login-input {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 16px;
    background-color: transparent;
    border: 1px solid var(--input-border-light);
    color: var(--text-light);
    transition: border 0.3s;
}

@media (prefers-color-scheme: dark) {
    .login-input {
        border-color: var(--input-border-dark);
        color: var(--text-dark);
    }
}

.login-button {
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: var(--button-bg-light);
    color: white;
    transition: background 0.3s;
}

@media (prefers-color-scheme: dark) {
    .login-button {
        background-color: var(--button-bg-dark);
    }
}

.login-button:hover {
    background-color: var(--button-hover-light);
}

@media (prefers-color-scheme: dark) {
    .login-button:hover {
        background-color: var(--button-hover-dark);
    }
}
