.navbar {
    width: 100%;
    height: 50px;
    background-color: #5f805f;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
  z-index: 1000;
}

.navbar-links {
    flex-grow: 1;
    margin-left: 20px;
}

.navbar-links ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar-links li {
    padding: 10px;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.2s;
}

.navbar-links a:hover {
    color: #b3d0b3;
}

.logout-button {
    background-color: #ce4848;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-right: 20px;
}

.logout-button:hover {
    background-color: #ff4747;
}
